<% layout('boilerplate.ejs') %>
<!-- <%= success %> -->
<body>
    <!-- <form action="/listings/new" method="get">
        <button type="submit">Add New Listing</button> -->
        <!-- <br>
        <h3>All Listings</h3><br> -->

        <style>
            .filters{
                display: flex;
                flex-wrap: wrap;
                font-size: 0.7rem;
                justify-content: right-end;
            }
            #filter{
                text-align: center;
                margin-top: 1rem;
                margin-right: 1.5rem;
                opacity:0.8;
            }
            #filter:hover{
                opacity:1;
                cursor: pointer;
            }
            #filter p{
                font-size: 0.7rem;
            }
        </style>

        <div class="filters">
            <div id="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>

            <div id="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Beachfront</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Campeign</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-person-skiing"></i></div>
                <p>Snowy</p>
            </div>

            <div id="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farm</p>
            </div>

            <div id="filter">
                <div><i class="fa-brands fa-canadian-maple-leaf"></i></div>
                <p>Greenries</p>
            </div>

        </div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
        <% for(let Listing of alllistings) { %>
            <a href="/listings/<%=Listing.id %>" class="listing-list">

        <div class="card">
        <img src="<%= Listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem">
        <!-- image-overlay -->
        <div class="card-img-overlay">abcd</div>
        <div class="card-body">
        <p class="card-text">
            <!-- till here -->
           <b><%= Listing.title %></b>
            <br>
            &#8377; <%= Listing.price.toLocaleString("en-IN")%>/night
        </p>
        </div>
    </div>
    </a>
    <% } %>
    </div>
    
    <!-- <ul>
        <% for(Listing of alllistings) { %>
            <li><a href="/listings/<%=Listing._id%>"> <%= Listing.title %></a></li>
        <% } %>
    </ul> -->
</body>
